.App {
  text-align: center;
  border: 1px solid black;
  width: auto;
}

.playground{
  border: 2px solid #0c823b;
  border-radius: 10px;
  background-color: rgb(16, 184, 69);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: fit-content;
  height: 750px;
  padding: 20px 20px;
}

.card {
  width: 100px;
  height: 145px;
  background-color: rgb(17, 169, 65);
  border: 1px solid black;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  z-index: 0;
}

.deckStack img{ 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid black ;
} 

.emptyCard {
  z-index: -1;
}

.yardStack {
  background-image: url('../public/img/card_back_red.png');
  background-size: cover; /* or 'contain' or specific dimensions like '100px 100px' */
  background-position: center; /* or 'top', 'bottom', 'left', 'right', 'center center' */
  background-repeat: no-repeat; /* or 'repeat', 'repeat-x', 'repeat-y' */
}