html, body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-image: url('../public/img/game_background.jpg');
}

.App {
  text-align: center;
  border: 1px solid black;
  position: relative;
}

.playground{
  border: 2px solid #0c823b;
  border-radius: 10px;
  background-color: rgb(16, 184, 69);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: fit-content;
  height: 780px;
  padding: 20px 20px;
}

.card {
  width: 90px;
  height: 125px;
  background-color: rgb(17, 169, 65);
  border: 1px solid black;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  opacity: 100%;
}

.deckStack img{ 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid black ;
} 

.emptyCard {
  z-index: -1;
}

.yardStack {
  background-image: url('../public/img/card_back_red.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}